<ul>
    <li class="{{charsNumber}}" >Doit contenir entre 8 et 20 caractères.</li>
    <li class="{{number}}" >Au moins 1 chiffre.</li>
    <li class="{{caps}}" >Au moins 1 lettre majuscule.</li>
</ul>