<ul>
    <li class="{{charsNumber}}" >Doit contenir entre 5 et 12 caractères.</li>
    <li class="{{charsSpecial}}" >Aucun caractère spécial ni espace : , # * $ etc.</li>
    <li class="{{loginTaken}} not-ok" >Login déjà attribué.</li>
</ul>